extends ../layout

block content
    a(href='/peces') Volver

    br
    br
    br

    h1 Nuevo pez

    br
    br

    form(action='/peces/create' method='post')
        label(for='id') ID:
        input#id(type='text' name='id')
        br
        label(for='nombre') Nombre:
        input#nombre(type='text' name='nombre')
        br
        label(for='tipo') Tipo:
        input#tipo(type='text' name='tipo')
        br
        label(for='lat') Latitud:
        input#tipo(type='text' name='lat')
        br
        label(for='lng') Longitud:
        input#tipo(type='text' name='lng')
        br
        br
        input.btn(type='submit' value='OK')