extends ../layout

block content
    a(href='/peces/create') Agregar nuevo pez
    table.table
        thead
            tr
                th(scope='col') #
                th(scope='col') Nombre
                th(scope='col') Tipo
                th(scope='col') Ubicacion
                th(scope='col')
                th(scope='col') 
        tbody
            each pez in peces
                tr
                    td(scope='row')
                      =pez.id
                    td=pez.nombre
                    td=pez.tipo
                    td=pez.ubicacion
                    td
                        a(href='peces/' + pez.id + '/update') Editar
                    td
                      form.inline(method='post' action='peces/' + pez.id + '/delete')
                        input(type='hidden' name='id' value=pez.id)
                        button.link-button(type='submit' name='submit_param' value='submit_value' class='btn')
                            = 'Eliminar'