extends ../layout

block content
    a(href='/peces') Volver

    br
    br
    br

    h1 Actualizando pez

    br
    br

    form(action=`/peces/${pez.id}/update` method='post')
        label(for='id') ID:
        input#id(type='text' name='id' value=pez.id)
        br
        label(for='nombre') Nombre:
        input#nombre(type='text' name='nombre' value=pez.nombre)
        br
        label(for='tipo') Tipo:
        input#tipo(type='text' name='tipo' value=pez.tipo)
        br
        label(for='lat') Latitud:
        input#tipo(type='text' name='lat' value=pez.ubicacion[0])
        br
        label(for='lng') Longitud:
        input#tipo(type='text' name='lng' value=pez.ubicacion[1])
        br
        br
        input.btn(type='submit' value='OK')